@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,500;1,700&display=swap");
:root {
  scroll-behavior: smooth;
  scroll-padding-top: 5rem;
}

body {
  font-family: "Poppins", sans-serif;
}

header nav a,
.link li {
  transition: transform 500ms ease;
}
header nav a:hover,
.link li:hover {
  transform: translateY(-5px);
  color: #7c859f;
}

.value {
  position: absolute;
  content: "";
  background-image: url(./assets/accural.svg);
  background-repeat: no-repeat;
  background-size: 60%;
  background-position: right -50%;
}

.menu.open {
  display: flex;
}

.navv {
  animation: sideBar 750ms ease;
}

.btn2 {
  background: linear-gradient(180deg, #d1d3e2 0%, #75629d 100%);
}

.roadmap > div {
  background: linear-gradient(180deg, #497cff 0%, #001664 100%);
}

.subscribe {
  border: 5px solid;
  border-image: linear-gradient(
      45deg,
      rgba(89, 44, 184, 1),
      rgba(0, 240, 255, 1)
    )
    1;
}

.grid-grad {
  background: linear-gradient(
    91.06deg,
    rgba(255, 255, 255, 0.51) 2.26%,
    #00f0ff 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.team {
  background: linear-gradient(91.06deg, #ff1cf7 2.26%, #00f0ff 100%);
}

.grad-border {
  transition: scale 500ms ease;
}

.grad-border:hover {
  scale: 1.1;
}

.gradient {
  background: linear-gradient(to right, #ff1cf7 32.26%, #00f0ff 68%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.btn {
  background: linear-gradient(180deg, #497cff 0%, #001664 100%);
}

.btn-hov {
  transition: all 500ms ease;
}

.btn-hov:hover {
  background: none;
  border: 2px solid;
  border-image: linear-gradient(
      45deg,
      rgba(89, 44, 184, 1),
      rgba(0, 240, 255, 1)
    )
    1;
  scale: 1.1;
}

.hero-blue,
.btn2 {
  transition: transform 300ms ease;
}

.hero-blue:hover,
.btn2:hover {
  transform: translateY(-10px);
}

input {
  outline: none;
  border: none;
  color: white;
}

.component {
  opacity: 1;
  transform: translateX(-20px);
  transition: all 0.5s ease-in-out;
}

.visible {
  opacity: 1;
  transform: translateX(0);
}

/* .slide-in {
  opacity: 1;
  transform: translateX(-10%);
  transition: opacity 1s ease-out, transform 1s ease-out;
}

.slide-in.visible {
  opacity: 1;
  transform: translateX(0%);
} */
.hero::after {
  position: absolute;
  content: "";
  background-image: url("./assets/hero-bg.svg");
  background-repeat: no-repeat;
  background-size: 115%;
  inset: 0;
  z-index: 1;
}

.video > div::after {
  position: absolute;
  content: url("./assets/play.svg");
  display: grid;
  top: 40%;
  right: 40%;
}

.video > .small::after {
  content: url("./assets/play-small.svg");
  top: 20%;
}

.stage-1,
.stage-2,
.stage-3 {
  position: relative;
}

.stage-2::after {
  position: absolute;
  content: url(./assets/stage2.svg);
  right: -25%;
  top: -40%;
}
.stage-3::after {
  position: absolute;
  content: url(./assets/stage3.svg);
  left: -45%;
  top: -35%;
}
.stage-1::after {
  position: absolute;
  content: url(./assets/stage1.svg);
  left: -45%;
  top: -35%;
}

.roadmap li {
  position: relative;
  list-style-position: inside;
  padding-top: 1rem;
}

.roadmap li::before {
  position: absolute;
  content: url("./assets/arrow.svg");
  left: -30%;
  top: 0%;
}

@media screen and (max-width: 700px) {
  .value {
    background-image: none;
  }

  .hero::after {
    background: url("./assets/mobile-hero.svg");
    background-position: center;
  }
  .video > div::after {
    position: absolute;
    content: url("./assets/play.svg");
    display: grid;
    top: 20%;
    right: 40%;
  }
}
@media screen and (max-width: 1200px) {
  .stage-1::after,
  .stage-2::after,
  .stage-3::after {
    content: "";
    inset: 0;
  }
  .roadmap li::before {
    content: "";
  }
}

@media screen and (max-width: 1200px) and (min-width: 700px) {
  .hero::after {
    background-size: 250%;
    background-position: top 0 center;
  }
}

@keyframes sideBar {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}
